body {
    font-family: 'Georgia', serif;
    background-color: #f5f5dc;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #fff8dc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #8b4513;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
    margin-bottom: 40px; /* Separación debajo del título */
}

.book-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.book {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    background-color: #fdf5e6;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.book:nth-child(even) {
    background-color: #faf0e6;
}

.book img {
    max-width: 120px;
    margin: 0 20px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.book-details {
    flex: 1;
    margin-right: 20px; 
}

.book-details h3 {
    margin: 0;
    color: #8b4513;
    font-size: 1.4em;
}

.book-details p {
    margin: 5px 0;
}

.book-details p strong {
    color: #6b4226;
}

.sort-options {
    margin: 40px 0; /* Separación alrededor del filtro */
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 1px solid #8b4513;
}

hr {
    border: 0;
    height: 1px;
    background: #8b4513;
    margin: 0 0 40px; /* Aumentar la separación debajo de la línea */
}
